footer {
  background-color: #3c3584;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

footer p {
  font-size: 1.2rem;
}

footer ul {
  justify-content: flex-end;
  display: flex;
  list-style-type: none;
}

footer li {
  margin-left: 1rem;
}
