nav {
  display: flex;
}

nav a {
  padding: 1rem;
  width: calc(100% / 3);
  text-align: center;
  background-color: #ffa84a;
  color: #fff;
  text-decoration: none;
  display: block;
}

nav a:hover {
  background-color: #fff;
  color: #3c3584;
}
